<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template">

<head>
</head>

<body>
    <main layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 marginTop40">
                    <h2 class="alert alert-danger">Problème d'autorisation</h2>
                    <h1>403!</h1>
                </div>
            </div>
        </div>
    </main>


</body>

</html>